/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a minor second modular scale
  http://www.modularscale.com/?1&em&1.067&web&text
*/

html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.222em; /* 22px is 1 gridline | 22px / 18px = 1.222em */
  font-family: calibri;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.822em; /* 2.822em * 16px = 45.152px */
  line-height: 1.462em; /* 66px is 3 gridlines | 66px / 45.152px = 0.974em */
}

h2 {
  font-size: 1.383em; /* 1.383em * 16px = 22.128px */
  line-height: 0.994em; /* 22px is 1 gridline | 22px / 22.128px = 0.994em */
}

footer {
  font-size: 0.878em; /* 0.878em * 16px = 14.048px */
  line-height: 1.566em; /* 22px is 1 gridline | 22px / 14.048px = 1.566em */
}

img {
  max-width: 100%;
}

/* ===== LAYOUT STYLES ===== */
#main {
  padding: 2.444em 4.888em 4.888em 4.888em; /* line-height * 4 = 4.888em */
}
.rules {
  padding: 1.222em;
}
.rules
 li {
  list-style-type: decimal;
  padding-top: 1.222em;
}

.rules
 li:last-child {
  padding-bottom: 1.222em;
}

.signup {
  border: 0.153em solid black; /* line-height / 8 */
  padding: 0.306em; /* line-height / 4 */
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 280px) {
  #main {
    font-size: 1em; /*16px*/
    line-height: 1.375em;
    padding-left: 1.375em;
    padding-right: 1.375em;
  }
}
@media screen and (min-width: 654px) {
  #main {
    font-size: 1.476em; /* 23.616 1.383em * 16px = 22.128 */
    line-height: 0.932em; /* 44px is 2 gridlines | 44px / 30.608px = 1.438em */
  }
}